extends layout

block content
  h1 Welcome to mini message board!
  ul
  each val in messagesArray
    li= p= "Text: " +  val.text
      p= "User: " +  val.user
      p= "Added: " +  val.added

      
